[submodule "bluepill"]
	path = bluepill
	url = git@github.com:opscode-cookbooks/bluepill.git
    banch = tag/v2.3.1
[submodule "rc_mon"]
	path = rc_mon
	url = git@github.com:hw-cookbooks/rc_mon.git
    branch = tag/v0.2.0
[submodule "apt"]
	path = apt
	url = git@github.com:opscode-cookbooks/apt.git
    branch = tag/v2.4.0
[submodule "swap"]
	path = swap
	url = git@github.com:sethvargo-cookbooks/swap.git
	branch = tag/v0.3.6