[submodule "runit"]
	path = runit
	url = git@github.com:hw-cookbooks/runit.git
[submodule "rc_mon"]
	path = rc_mon
	url = git@github.com:hw-cookbooks/rc_mon.git
[submodule "control_groups"]
	path = control_groups
	url = git@github.com:hw-cookbooks/control_groups.git
[submodule "build-essential"]
	path = build-essential
	url = git@github.com:hw-cookbooks/build-essential.git
